*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

header {
    background-color: #4584b1;
    height: 4rem;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#logo {
    margin-left: 40px;
}

nav {
    background-color: #103594;
    /* padding: 0.5rem; */
    height: 3rem;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}

nav ul > li {
    margin-left: 0;
}

.where-togo {
    display: flex;
    flex-direction: column;
    background-color: #040E27; /* rgb(7, 7, 107); */
    color: white;
    padding: 0.5rem;
}

.where-togo > h3 {
    font-size: 2rem;
}

.search-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* outline: 1px solid #0f0; */
}

.search-form > .input-field {
    /* outline: 1px solid red; */
    width: max(min(20rem, 18vw), 10rem);
    height: 3rem;
    margin: 0 .5rem;
}

.search-form > .input-field > * {
    appearance: none;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}

.search-form > .input-field > button {
    background-color: rgb(255, 74, 82);
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
}

.popular .section-title {
    text-align: center;
    font-size: 1.5rem;
}

.popular .container {
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    /* grid-template-rows: 50% 50%; */
    margin: 1rem 3rem;
    gap: 1rem;
}

.single-destination img {
    width: 100%;
    height: 100%;
    transition: transform 250ms ease;
}

.single-destination img:hover {
    transform: scale(105%);
}

.testimonial-area {
    background-color: rgba(87, 87, 120, 0.987);
}

.testimonial-area > .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
}

.single-testmonial {
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 13rem;
    height: 16rem;
}

.author-thumb {
    text-align: center;
}

.testmonial-author {
    margin-left: 2rem;
}


.footer {
    background-color: rgb(7, 7, 107);
    color: white;
}

.footer>.container {
    display: flex;
    justify-content: space-around;
    margin-right: 2rem;
    gap: 3rem;
}

.footer a {
    color: white;
}

/* Media Queries */

@media (max-width: 720px) {
    /* Add some responsive code here */
    /* Make the destinations stack on top of each other */
    /* Make the form input stack on top of each other */

    .testimonial-area > .container {
        /* flex-direction: row;
        flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
    }

    .popular .container {
        grid-template-columns: 40% 40%;
        margin: 1rem;
    }

    .search-form {
        flex-direction: column;
        gap: 0.5rem;
    }

    .search-form > .input-field {
        width: calc(100% - 1rem);
    }
}